/* line 1, src/assets/scss/theme.scss 
body {
  padding-top: 70px; }  */

/* line 2, src/assets/scss/theme.scss */
img {
  max-width: 100%; }

/* line 5, src/assets/scss/theme.scss */
a, .a:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

/* line 8, src/assets/scss/theme.scss */
.container-fluid {
  width: 94%;
  margin: 0px auto;
  max-width: 94%; }

/* line 34, src/assets/scss/theme.scss */
.overlay {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  background-color: #008CBA; }

/* line 46, src/assets/scss/theme.scss */
.card {
  border: 0; }

/* line 47, src/assets/scss/theme.scss */
.card-pin:hover .overlay {
  opacity: .5;
  border: 5px solid #f3f3f3;
  -webkit-transition: ease .2s;
  transition: ease .2s;
  background-color: #000000;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

/* line 55, src/assets/scss/theme.scss */
.more {
  color: white;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  -webkit-transform: translate(-20%, -20%);
          transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%); }

/* line 66, src/assets/scss/theme.scss */
.card-pin:hover .card-title {
  color: #ffffff;
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em; }

/* line 73, src/assets/scss/theme.scss */
.card-pin:hover .more a {
  text-decoration: none;
  color: #ffffff; }
