@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");
body{
  background-color: #E5B8F4;
}







.MyImage {
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  margin: 30px;
  margin-left: 60px;
  box-shadow: 4px 4px 15px 15px rgba(193, 71, 233, 0.5);
}

.posts{
position: absolute;
font-family: 'Poppins';
font-style: normal;
font-size: 32px;
margin-left: 300px;
margin-top: 80px;
color: #2D033B;
}

.followers{
  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 32px;
  margin-left: 600px;
  margin-top: 80px;
  color: #2D033B;
}

.followings{
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 32px;
    margin-left: 900px;
    margin-top: 80px;
    color: #2D033B;
  }

  .editProfile button{
    width: 130vh;
    height: 6vh;
    background-color: #2D033B;
    margin-top: 150px;
    margin-left: 300px;
    border-radius: 25px;
    text-align: center;
    
    font-style: normal;
    font-size: 20px;
    color: white;
    
  }

  .name{
    
    font-style: normal;
    font-size: 30px;
    margin-left: 70px;
    margin-top: 25px;
    position: absolute;

  }

  .postings{
    font-style: normal;
    font-size: 30px;
    margin-left: 90px;
    margin-top: 130px;
    position: absolute;
    border-bottom: 3px solid #C147E9;
    padding-bottom: 5px;

  }

  .addphoto .icon{
    font-style: normal;
    width: 55px;
    height: 55px;
    margin-top: 130px;
    margin-left: 600px;
    position: absolute;

  }
 
  .saved{
    font-style: normal;
    font-size: 30px;
    margin-top: 130px;
    margin-left: 1110px;
    position: absolute;
    border-bottom: 3px solid #2D033B;
    padding-bottom: 5px;
  }
 
  a{
    text-decoration: none;
    text-decoration-line: none;
    color: #2D033B;
  }
  a #postings{
    text-decoration: none;
    text-decoration-line: none;
    color:#C147E9;
  }






